.info {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* margin: 0;
    padding: 0; */
    background-color: rgb(77, 51, 17);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto {
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* padding: 0; */
    height: 250px;
    width: 100%;
}

.naam {
    /* display: block; */
    padding: 0;
    margin: auto;
    color: white;
}

.button_container {
    display: flex;
    justify-content: space-around;
}